{{- $lvl := .level -}}
{{- range .section.Sections.ByTitle -}}
<section class="subject-group level-{{ $lvl }}" id="{{ .File.ContentBaseName | urlize }}">
  {{ printf "<h%d>" $lvl | safeHTML }}<a href="{{ .RelPermalink }}">{{ partial "section-name.html" . }}</a> <span class="count">{{ len .RegularPagesRecursive }}</span>{{ printf "</h%d>" $lvl | safeHTML }}
  {{ if eq $lvl 2 }}{{ with index site.Data.subjects .Params.folder }}{{ with .description }}<p class="muted">{{ . }}</p>{{ end }}{{ end }}{{ end }}
  {{ with .RegularPages }}
  <ol class="compact-list">
    {{ range . }}<li><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006" }}</time> <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>{{ end }}
  </ol>
  {{ end }}
  {{ partial "section-tree.html" (dict "section" . "level" (cond (lt $lvl 5) (add $lvl 1) 5)) }}
</section>
{{- end -}}
